{% extends "base.html" %}

{% block content %}
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-dark">Log In</button>
</form>
{% endblock %}
